<!DOCTYPE html>
<html lang="en">

<head>
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css') }}"> <!-- ../static/styles.css-->
	<style type="text/css">
		a {
			color: black;
			text-decoration: none
		}
	</style>
</head>

<body>
	<header>
		<div class="header">

			<h1 class="title">Eco District <br>Hampton Roads</h1>
		</div>
		<div class="home">
			<a href="{{url_for('showMain')}}"> Home &nbsp&nbsp&nbsp&nbsp</a>
			<a> About Us &nbsp&nbsp&nbsp&nbsp</a>
			<a href="{{url_for('showSurvey')}}"> Survey &nbsp&nbsp&nbsp&nbsp</a>
			<a> News &nbsp&nbsp&nbsp&nbsp</a>
			<a> Report &nbsp&nbsp&nbsp&nbsp</a>
			<a> Education &nbsp&nbsp&nbsp</a>
		</div>
		<div class="login_button">
			<button type="button" onclick="location.href='{{url_for('gdisconnect')}}' ">Admin logout</button>
		</div>

	</header>
	<section>
		<div class="homepage">
			
		</div>
	</section>
</body>

</html>
